<launch>

    <!--Charge robot description to the parametres-->
    <param name="robot_description" command="$(find xacro)/xacro '$(find arm20_description)/urdf/arm20.urdf.xacro'"/>
 
    <!--send fakes joint values-->
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    
    <!--Read the joint state value an publish the TF-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!--show in Rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm20_description)/config/arm20.rviz"/>
    
    
 




</launch>
