<launch>

  <arg name="model" default="$(find arm20)/urdf/arm.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find arm20)/rviz/urdf.rviz" />
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find arm20)/config/arm_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/arm20" args="joint_state_controller
					  joint1_position_controller
					  joint2_position_controller
            				  joint3_position_controller
					  joint4_position_controller
            				  joint5_position_controller
					  joint6_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/arm20/joint_states" />
  </node>

</launch>
