<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find arm20)/urdf/arm.urdf"/>
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find arm20)/rviz/urdf.rviz" />

    <param name="robot_description"  textfile="$(find arm20)/urdf/arm.urdf"/>

    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm20)/rviz/urdf.rviz" required="true" />
</launch>

